<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To Do List</title>
    <link href="/style.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css"> -->
  </head>
  <body>
    <div class="create">
      <h1>To Do List</h1>
      <form action="/createTodo/{{todo}}" method="post">
        <p>Create a new todo</p>
        <input type="text" name="todo" placeholder="I need to..." />
        <button type="submit">Add Todo</button>
      </form>
    </div>
    <div class="pending">
      <!-- <h2>Pending</h2>
        <ul>
          {{#incomplete}}
            <li>
              <form action="/markComplete/{{.}}" method="post">
                <button type="submit">Mark as complete</button> {{.}}
              </form>
            </li>
          {{/incomplete}}
        </ul> -->
      <h3>Pending - Todo2 for testing</h3>
      <ul>
        {{#incomplete}}
          <li>
            <form action="/markIncomplete/{{.}}" method="post">
              <button type="submit">Mark as Complete</button> {{item}}
            </form>
          </li>
        {{/incomplete}}
      </ul>
    </div>
    <div class="completed">
      <!-- <h2>Completed</h2>
        <ul>
          {{#complete}}
            <li>
              <form action="/markIncomplete/{{.}}" method="post">
                <button type="submit">Mark as incomplete</button> <del>{{.}}</del>
              </form>
            </li>
          {{/complete}}
        </ul> -->
      <!--Displays all items in todos2 for testing purposes. Next step: need display only complete items-->
      <h3>Complete - Todo2 for testing</h3>
      <ul>
        {{#complete}}
          <li>
            <form action="/markIncomplete/{{.}}" method="post">
              <button type="submit">Mark as incomplete</button> <del>{{item}}</del>
            </form>
          </li>
        {{/complete}}
      </ul>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>

<!-- Latest compiled and minified JavaScript -->
