body {
  font-family: Helvetica, sans-serif;
  color: #53565a;
  margin: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px;
}

.create input {
  font-size: 1em;
  padding: 15px;
  width: 25em;
  margin-right: -5px;
}

.create button {
  background-color: #0faa1c;
  color: #fff;
  font-size: 1em;
  border: 1px solid #0faa1c;
  padding: 15px;
  margin: 0;
  width: 15em;
}

.pending button {
  background-color: #3d91e5;
  color: #fff;
  font-size: .8em;
  border: 1px solid #3d91e5;
  width: 12em;
  padding: 5px;
  margin-right: 10px;
}

.completed button {
  background-color: #fff;
  color: #3d91e5;
  font-size: .8em;
  border: 1px solid #3d91e5;
  width: 12em;
  padding: 5px;
  margin-right: 10px;
}

/*button .mark {
  font-size: .8em;
}*/
