@import url('https://fonts.googleapis.com/css?family=Roboto|Slabo+27px');

body {
  font-family: 'Roboto', sans-serif;
  color: #53565a;
  margin: 30px;
  height: 100vh;
  /*background: #ff9068;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: #fd746c;
  background: -webkit-linear-gradient(to right, #ff9068, #fd746c);
  background: linear-gradient(to right, #ff9068, #fd746c);
}

h1,
h2 {
  font-family: 'Slabo 27px', serif;
}

.welcome {
  background: #fff;
  opacity: .95;
  padding: 30px;
  margin: 20px;
}

blockquote {
  border-left: 3px solid #53565a;
  padding-left: 10px;
}

.login input {
  font-size: 1em;
  padding: 20px;
  flex-grow: 2;
  margin: 10px 0;
  border: 1px solid #ccc;
}

.login button {
  background-color: #0faa1c;
  color: #fff;
  padding: 20px;
  font-size: 1em;
  border: 0px solid #0faa1c;
  margin: 0;
  flex-grow: 1;
  background: #fd746c;
  background: -webkit-linear-gradient(to right, #ff9068, #fd746c);
  background: linear-gradient(to right, #ff9068, #fd746c);
}

.pending button {
  background-color: #fff;
  color: #ccc;
  font-size: .8em;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;
  width: 2em;
}

.completed button {
  background-color: #3d91e5;
  color: #fff;
  font-size: .8em;
  border: 0px solid #3d91e5;
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;
  width: 2em;
  background: #fd746c;
  background: -webkit-linear-gradient(to right, #ff9068, #fd746c);
  background: linear-gradient(to right, #ff9068, #fd746c);
}

.login {
  display: flex;
  flex-direction: column;
  background: #fff;
  opacity: .95;
  padding: 30px;
  margin: 20px;
}

.login form {
  display: flex;
  flex-direction: column;
}
